body{
    background-image: url('../../img/fundoContato.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.logo_rayza{
    width: 10%;
}
div {
    display: flex;
    justify-content: center;
}
form {
    width: 50%;
    display: flex;
    flex-direction: column;
}
input{
    background-color: transparent;
}
